.primary-color {
    color: $blue-color;
}

.orange-color {
    color: $orange-color;
}

.gray-color {
    color: $gray-color;
}

.mat-toolbar__color {
    background-color: $top-bar-color;
}

.white-color {
    color: $white-color;
}

.bg-primary-color {
    background-color: $blue-color;
}