@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}

.text-bold {
    text-transform: bold;
}

.parrafo {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 5px 0;
    font-weight: bold;
    @media screen and(max-width: 768px) {
        text-align: center;
    }
}

.parrafo-lg {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    @media screen and(max-width: 768px) {
        text-align: center;
    }
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}
