<div class="register">
    <div class="register-box">
        <h2 class="title">Alta de usuario</h2>
        <form class="register-box__form">

            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>

            <mat-form-field class="mat-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" value="">
            </mat-form-field>
            <mat-form-field class="mat-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Apellidos" value="">
            </mat-form-field>
            <mat-form-field class="mat-full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput placeholder="885 85 85" value="">
            </mat-form-field>
            <mat-form-field class="mat-full-width">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Por favor ingresa un correo válido
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    El correo es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mat-full-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña" value="">
            </mat-form-field>
            <mat-form-field class="mat-full-width">
                <mat-label>Confirmar Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña" value="">
            </mat-form-field>

            <mat-checkbox>Acepto términos y condiciones</mat-checkbox>

            <h5 class="parrafo">¿Has olvidado tu contraseña? Haz clic <a style="color: #F34A2D;" href="#">aquí  </a> para recuperarla</h5>
            <div class="d-flex justify-content-center">
                <button style="height: 41px;width: 100%;" class="btn btn-primary">Registrarse</button>
            </div>
        </form>

    </div>

</div>
