<div class="register">
    <h2 class="title text-center">Alta de usuario</h2>
    <div class="register-box">
        <div class="col-md-6">
            <form class="register-box__form" [formGroup]="forma" (ngSubmit)="register()">
                <label class="parrafo" id="example-radio-group-label">Regístrate como</label>
                <mat-radio-group class="example-radio-group" formControlName="type" aria-label="Select an option">
                    <mat-radio-button class="example-radio-button" value="person">Persona</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="enterprice">Empresa</mat-radio-button>
                </mat-radio-group>
                <div class="info-empresa parrafo" *ngIf="forma.get('type').value === 'enterprice'">
                    Es importante que decidas como vas a realizar tus inversiones. Si piensas invertir como empresa deberás darte de alta seleccionando empresa. Y si luego quieres invertir como particular, tendrás que crearte una cuenta aparte, ya que una vez creada la cuenta
                    no se podrá modificar.
                </div>
                <mat-error *ngIf="!forma.get('type').valid">
                    El tipo es obligatorio
                </mat-error>
                <mat-form-field class="mat-full-width">
                    <mat-label *ngIf="forma.get('type').value === 'person' ||  forma.get('type').value === ''">Nombre</mat-label>
                    <mat-label *ngIf="forma.get('type').value === 'enterprice'">Nombre representante legal</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-error *ngIf="forma.get('name').touched && !forma.get('name').valid">
                    El nombre es obligatorio
                </mat-error>
                <mat-form-field class="mat-full-width">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Apellidos" formControlName="last_name">
                </mat-form-field>
                <mat-error *ngIf="forma.get('last_name').touched && !forma.get('last_name').valid">
                    El apellido es obligatorio
                </mat-error>
                <mat-form-field class="mat-full-width">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="885 85 85" formControlName="phone">
                </mat-form-field>
                <mat-error *ngIf="forma.get('phone').touched && !forma.get('phone').valid">
                    El teléfono es obligatorio
                </mat-error>
                <mat-form-field class="mat-full-width">
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="jhon@doe.comx" formControlName="email">
                </mat-form-field>
                <mat-error *ngIf="forma.get('email').touched && !forma.get('email').valid">
                    El correo es obligatorio
                </mat-error>
                <mat-form-field class="mat-full-width">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password">
                </mat-form-field>
                <mat-error *ngIf="validPassOne">
                    La contraseña es obligatoria y debe tener mínimo 6 caracteres
                </mat-error>
                <mat-form-field class="mat-full-width">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input type="password" matInput placeholder="Contraseña" formControlName="password_confirmation">
                </mat-form-field>
                <mat-error *ngIf="!validPassTwo">
                    Las contraseñas deben ser iguales
                </mat-error>

                <mat-checkbox formControlName="terms">Acepto términos y condiciones</mat-checkbox>
                <mat-error *ngIf="!validTerms">
                    Debes aceptar términos y condiciones
                </mat-error>
                <div class="d-flex justify-content-center mt-2">
                    <button [ngClass]="{'btn-primary':forma.valid, 'btn-default':!forma.valid}" style="height: 41px;width: 100%;" class="btn">Registrarse</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="subtitle">Regístrate en Crowd Units. Todo son ventajas: </h2>
            <div class="d-flex" style="margin-top: 1em;">
                <img src="assets/images/ico1.png" height="50" alt="icono">
                <span class="parrafo" style="margin-left: .5em;">Darte de alta en Crowd Units no compromete a nada y no tiene ningún coste.</span>
            </div>
            <div class="d-flex" style="margin-top: 1em;">
                <img src="assets/images/ico2.png" height="50" alt="icono">
                <span class="parrafo" style="margin-left: .5em;">La cuenta Crowd Units no tiene comisiones, puedes ingresar y retirar fondos siempre que quieras sin ningún coste..</span>
            </div>
            <div class="d-flex" style="margin-top: 1em;">
                <img src="assets/images/ico3.png" height="50" alt="icono">
                <span class="parrafo" style="margin-left: .5em;">Una vez que realices el proceso de alta podrás acceder a tu área privada y analizar toda la documentación soporte de los proyectos..</span>
            </div>
            <div class="d-flex" style="margin-top: 1em;">
                <img src="assets/images/ico4.png" height="50" alt="icono">
                <span class="parrafo" style="margin-left: .5em;">Invierte a partir de 50 € en las mejores oportunidades inmobiliarias con todas las garantías y altas rentabilidades. De una forma rápida, sencilla y segura..</span>
            </div>
            <div class="d-flex" style="margin-top: 1em;">
                <img src="assets/images/ico5.png" height="50" alt="icono">
                <span class="parrafo" style="margin-left: .5em;">Earlyield: consigue una rentabilidad anual* extra, que se indicará de manera exclusiva en el proyecto, desde el día en que inviertas hasta que se financie el proyecto en todas las oportunidades en fase de financiación y que se indique expresamente</span>
            </div>
        </div>


    </div>

</div>