.register {
    margin: 2em auto;
    max-width: 800px;
    @media screen and(max-width: 768px) {
        margin: 5px 15px 2em;
    }
}

.register-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.register-box__form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.mat-full-width {
    margin-top: 2%;
    width: 100%;
}

.example-radio-group {
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}
