<div class="login">
    <div class="login-box">
        <h2 class="title">Accede a tu área privada</h2>
        <h4 class="subtitle">Si todavía no estás registrado, ¿a qué estás esperando? <a style="color: #F34A2D; cursor: pointer;" routerLink="/auth/register">Regístrate aquí</a></h4>
        <form class="example-form" autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">
            <mat-form-field class="example-full-width">
                <mat-label>Correo Electrónico</mat-label>
                <input formControlName="email" matInput placeholder="Ex. pat@example.com">
                <mat-error *ngIf="!forma.get('email').valid">
                    El correo es necesario
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" type="password" matInput placeholder="*****">
                <mat-error *ngIf="!forma.get('password').valid">
                    La contraseña es necesaria
                </mat-error>
            </mat-form-field>
            <h4 class="parrafo">¿Has olvidado tu contraseña? Haz clic <a style="color: #F34A2D;" [routerLink]="['/auth/reset-password']">aquí  </a> para recuperarla</h4>
            <div class="d-flex justify-content-center">
                <button style="height: 41px;width: 100%;" class="btn btn-primary">Ingresar</button>
            </div>
        </form>

    </div>

</div>