.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    margin-top: 2%;
    width: 100%;
}

.login {
    margin: 2em auto;
    max-width: 500px;
    @media screen and(max-width: 768px) {
        margin: 5px 15px 2em;
    }
}

.login-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.my-class .mat-dialog-container {
    height: 400px;
    width: 600px;
    border-radius: 10px;
    background: lightcyan;
    color: #039be5;
}