<div class="d-flex flex-column mat-sidenav-side">
    <div class="d-flex align-items-center">
        <div class="col-md-8">
            <span class="text-center text-bold subtitle">
          Crowd Units
        </span>
        </div>
        <div class="col-md-4 btn-close">
            <button mat-icon-button aria-label="Close" (click)="closeSidenav(false)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
    </div>
    <div class="col-md-12">
        <ul class="list-menu">
            <li class="list-menu__item">
                <a href="#">Invierte</a>
            </li>
            <li class="list-menu__item">
                <a href="#">Finánciate</a>
            </li>
            <li class="list-menu__item">
                <a href="#">Blog</a>
            </li>
            <li class="list-menu__item">
                <a href="#">Cómo funciona</a>
            </li>
            <li class="list-menu__item">
                <a href="#">Quiénes somos</a>
            </li>
        </ul>
    </div>
    <div class="d-flex align-items-center">
        <mat-icon>person</mat-icon>
        <a class="gray-color fs-16 parrafo" [routerLink]="['/auth/login']">Acceder</a>
    </div>
    <div class="mt-2">
        <button [routerLink]="['/auth/register']" style="height: 41px; width: 131px;" class="btn btn-primary">Regístrate</button>
    </div>

</div>
