.example-radio-group {
    margin: 15px 0;
    @media screen and(max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.example-radio-button {
    margin: 5px;
}

.info-empresa {
    padding-top: 15px;
    margin-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: #6582a2;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}