<mat-toolbar color="primary">
    <h3>+34 911 930 730 soporte@housers.com</h3>
    <h3 style="margin-left:auto;">Información básica para el inversor</h3>
</mat-toolbar>
<mat-toolbar>
    <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img width="120" src="https://static.housers.com/assets/images/logos/housers-logo-marron.svg" alt="logo">
    <ul style="margin-left: auto; display: flex;">
        <li style="display: flex;">
            <mat-icon>person</mat-icon>
            <a href="#">ACCEDER</a>
        </li>
        <li style="display: flex;">
            <a href="#">REGÍSTRATE</a>
        </li>
    </ul>
</mat-toolbar>