.footer {
    padding-bottom: 2em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.socials {
    @media screen and(max-width: 768px) {
        display: flex;
        justify-content: center;
    }
}