<div class="background-color--aqua block-footer" style="background-color: #124C8D;    min-height: 240px; margin: 0;">
    <div class="container footer">
        <div class="row footer-menu-container">
            <div class="col-xs-12 col-md-3">
                <div class="d-flex flex-column">
                    <h3 style="color: white;">Crowd Units</h3>

                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="d-flex flex-column" style="color: white;">
                    <h3 class="subtitle">Participa en Crowd Units</h3>
                    <span class="mt-05 parrafo">Invierte</span>
                    <span class="mt-05 parrafo">Finánciate</span>
                    <span class="mt-05 parrafo">Cómo funciona</span>
                    <span class="mt-05 parrafo">Private Investment</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="d-flex flex-column" style="color: white;">
                    <h3 class="subtitle">Quienes somos</h3>
                    <span class="mt-05 parrafo">Faq's</span>
                    <span class="mt-05 parrafo">Blog</span>
                    <span class="mt-05 parrafo">Quiénes somos</span>
                    <span class="mt-05 parrafo">Trabaja con nosotros</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="d-flex flex-column" style="color: white;">
                    <h3 class="subtitle">Info</h3>
                    <span class="mt-05 parrafo">Información básica para el inversor</span>
                    <span class="mt-05 parrafo">Información legal</span>
                    <span class="mt-05 parrafo">Política de tarifas</span>
                    <span class="mt-05 parrafo">Política de privacidad</span>
                </div>
            </div>
        </div>
    </div>
</div>
