<div class="background-color--aqua block-footer" style="background-color: #124C8D;    min-height: 240px; margin: 0;">
    <div class="container footer">
        <div class="row footer-menu-container">
            <div class="col-xs-12 col-md-3">
                <div class="d-flex flex-column" style="">
                    <h3 style="color: white;">Crowd Units</h3>

                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="d-flex d-flex" style="color: white;">
                    <h3>Participa en Crowd Units</h3>
                    <span style="    margin-top: .5em;">Invierte</span>
                    <span style="    margin-top: .5em;">Finánciate</span>
                    <span style="    margin-top: .5em;">Cómo funciona</span>
                    <span style="    margin-top: .5em;">Private Investment</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="d-flex d-flex" style="color: white;">
                    <h3>Quienes somos</h3>
                    <span style="    margin-top: .5em;">Faq's</span>
                    <span style="    margin-top: .5em;">Blog</span>
                    <span style="    margin-top: .5em;">Quiénes somos</span>
                    <span style="    margin-top: .5em;">Trabaja con nosotros</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="d-flex d-flex" style="color: white;">
                    <h3>Info</h3>
                    <span style="    margin-top: .5em;">Información básica para el inversor</span>
                    <span style="    margin-top: .5em;">Información legal</span>
                    <span style="    margin-top: .5em;">Política de tarifas</span>
                    <span style="    margin-top: .5em;">Política de privacidad</span>
                </div>
            </div>
        </div>
    </div>
</div>
