<div class="background-color--aqua block-footer" style="background-color: #8fccc9;    min-height: 240px; margin: 20px 0 10px 0;">
    <div class="container" style="
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    ">
        <div class="row footer-menu-container">
            <div class="col-md-3">
                <div class="d-dlex" style="display: flex;flex-direction: column;">
                    <h3>Logo</h3>

                </div>
            </div>
            <div class="col-md-3">
                <div class="d-dlex" style="display: flex;flex-direction: column;color: white;">
                    <h3>PARTICIPA EN HOUSERS</h3>
                    <small>Invierte</small>
                    <small>Finánciate</small>
                    <small>Cómo funciona</small>
                    <small>Private Investment</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-dlex" style="display: flex;flex-direction: column;color: white;">
                    <h3>PARTICIPA EN HOUSERS</h3>
                    <small>Invierte</small>
                    <small>Finánciate</small>
                    <small>Cómo funciona</small>
                    <small>Private Investment</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-dlex" style="display: flex;flex-direction: column;color: white;">
                    <h3>PARTICIPA EN HOUSERS</h3>
                    <small>Invierte</small>
                    <small>Finánciate</small>
                    <small>Cómo funciona</small>
                    <small>Private Investment</small>
                </div>
            </div>
        </div>
    </div>
</div>