<div class="container" style="margin: auto;">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="assets/images/swiper02.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="assets/images/swiper01.png" alt="">
            </div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
</div>

<div class="box-contain">
    <div class="contenedor">
        <div class="text-center">
            <p>Somos una plataforma de financiación participativa autorizada por la <strong>CNMV</strong> mediante licencia número 20 y la <strong>CMVM</strong> (organismo regulador portugués), con <strong>120.172 usuarios</strong> y una inversión acumulada
                de <strong>113.801.600€</strong>.</p>
            <p>Recuerda que no somos una empresa de servicios de inversión ni una entidad de crédito. Por favor lee la <a href="/es/informacion-basica-inversor">información básica para el inversor</a></p>
        </div>
    </div>
</div>

<div class="contenedor" style="display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; justify-content:center; align-items:center">
        <h3>Diversifica todo lo que quieras <br> desde solo 50€</h3>
        <p>Construye tu cartera de inversión basada en activos inmobiliarios</p>
    </div>
</div>

<div class="box-cards">
    <div class="cards-container" style="display: flex; justify-content: center;align-items: center; flex-wrap: wrap;">
        <div class="card-item" style="width: 350px;height: 200px;background-color: blueviolet;margin:0 15px;">
            Card 1
        </div>
        <div class="card-item" style="width: 350px;height: 200px;background-color: blueviolet;margin:0 15px;">
            Card 2
        </div>
        <div class="card-item" style="width: 350px;height: 200px;background-color: blueviolet;margin:0 15px;">
            Card 3
        </div>
    </div>
</div>

<div class="float-button" style="display: flex; justify-content: center;margin-top: 5%;">
    <button mat-raised-button color="primary">Invierte</button>
</div>


<div class="contenedor" style="display: flex; justify-content: center; align-items: center;text-align: center;">
    <div class="slick-slide slick-current slick-active" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 285px;" data-slick-index="0" aria-hidden="false">
        <div id="totalTirHousersCircle" style="width: 205px; height: 205px; position: relative;" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
            <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(70, 61, 62);">
                <div class="col-xs-12 no-padding circles-text">
                    <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                    <div class="col-xs-12 no-padding circles-text-line">
                        <hr>
                    </div>
                    <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                </div>
            </div>
        </div>
    </div>
    <div class="slick-slide slick-current slick-active" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 285px;" data-slick-index="0" aria-hidden="false">
        <div id="totalTirHousersCircle" style="width: 205px; height: 205px; position: relative;" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
            <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(70, 61, 62);">
                <div class="col-xs-12 no-padding circles-text">
                    <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                    <div class="col-xs-12 no-padding circles-text-line">
                        <hr>
                    </div>
                    <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                </div>
            </div>
        </div>
    </div>
    <div class="slick-slide slick-current slick-active" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 285px;" data-slick-index="0" aria-hidden="false">
        <div id="totalTirHousersCircle" style="width: 205px; height: 205px; position: relative;" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
            <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(70, 61, 62);">
                <div class="col-xs-12 no-padding circles-text">
                    <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                    <div class="col-xs-12 no-padding circles-text-line">
                        <hr>
                    </div>
                    <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                </div>
            </div>
        </div>
    </div>
    <div class="slick-slide slick-current slick-active" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 285px;" data-slick-index="0" aria-hidden="false">
        <div id="totalTirHousersCircle" style="width: 205px; height: 205px; position: relative;" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
            <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(70, 61, 62);">
                <div class="col-xs-12 no-padding circles-text">
                    <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                    <div class="col-xs-12 no-padding circles-text-line">
                        <hr>
                    </div>
                    <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="contenedor" style="display:flex; justify-content: flex-end;">
    <div>
        <div class="col-sm-12 visible-xs">
            <div class="text-circles text-center">
                Los valores no son solo números
            </div>
            <div class="separador-30"></div>
        </div>
        <a href="/es/estadisticas"> Ver Estadísticas <img class="lazy" src="https://static.housers.com/assets/images/icons/icon-arrow.svg" style=""></a>
    </div>
</div>