<div class="container">
    <section class="main">
        <div class="d-flex">
            <div class="col-md-6 main-info">
                <h1 class="main-info__text">
                    Primera plataforma <br> pan-europea de
                    <strong class="orange-color">
                inversión inmobiliaria.
              </strong>
                </h1>
                <div class="main-info__button">
                    <a style="border-bottom: 1px solid #ccc;" class="gray-color fs-16" href="# ">Más información</a>
                </div>
            </div>
            <div class="col-md-6 main-img">
                <img style="width: 100%;max-width: 100%;" src="assets/images/bg-property.png" alt="property">
            </div>
        </div>
    </section>


</div>

<div class="container">
    <section class="carrousel-invertions">
        <div class="d-flex flex-wrap">
            <div class="col-xs-12 col-md-4 d-flex justify-content-center align-items-center">
                <p style="font-size: 20px;font-family: sans-serif;text-align: center;">Diversifica todo lo que quieras <br> desde solo 50€</p>
            </div>
            <div class="carrousel-invertions__swiper col-md-8">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-slide__item">
                                <img class="swiper-slide__item--img" src="assets/images/img02.jpeg" alt="">
                            </div>
                            <div class="swiper-slide__item">
                                <img class="swiper-slide__item--img" src="assets/images/img02.jpeg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__item">
                                <img class="swiper-slide__item--img" src="assets/images/img02.jpeg" alt="">
                            </div>
                            <div class="swiper-slide__item">
                                <img class="swiper-slide__item--img" src="assets/images/img02.jpeg" alt="">

                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>


                </div>
            </div>

            <div class="box-cards">
                <div class="cards-container" style="display: flex; justify-content: center;align-items: center; flex-wrap: wrap;">
                    <div class="card-item">
                        <img class="card-item--img" src="assets/images/img02.jpeg" alt="">
                    </div>
                    <div class="card-item">
                        <img class="card-item--img" src="assets/images/img02.jpeg" alt="">
                    </div>
                    <div class="card-item">
                        <img class="card-item--img" src="assets/images/img02.jpeg" alt="">
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>


<div class="info-empresa">

    <div class="info-empresa__partner">
        <div class="info-empresa__img">
            <div class="container info-empresa__container">
                <div class="info-empresa__item">
                    <img class="info-empresa__item-img" height="70" src="assets/images/logo-sfc.png" alt="logo-sfc">
                </div>
                <div class="info-empresa__item">
                    <img class="info-empresa__item-img" height="70" src="assets/images/logo-adigital-negativo.png" alt="logo-sfc">
                </div>
                <div class="info-empresa__item">
                    <img class="info-empresa__item-img" height="70" src="assets/images/ecomerce-europe.png" alt="logo-sfc">
                </div>
                <div class="info-empresa__item">
                    <img class="info-empresa__item-img" height="70" src="assets/images/logo-shes.png" alt="logo-sfc">
                </div>


            </div>
        </div>

        <div class="container info-empresa__info">
            <p class="info-empresa__text">Somos una plataforma de financiación participativa autorizada por la CNMV <br> mediante licencia número 20 y la CMVM (organismo regulador portugués), <br> con 120.172 usuarios y una inversión acumulada de <strong>113.801.600€</strong>.</p>

            <div class="float-button" style="display: flex; justify-content: center;margin-top: 5%;margin-bottom: 5%;height: 41px;">
                <button class="btn btn-primary">Invierte</button>
            </div>
        </div>

    </div>


</div>

<div class="BaseCard">
    <div class="Recommendations">
        <div class="container">
            <div class="Recommendations-head">
                <p class="Recommendations-title" style="font-size: 20px;font-family: sans-serif;text-align: center;">Por qué elegirnos</p>
                <div class="Recommendations-arrows">
                    <button mat-icon-button color="primary" aria-label="arrow_left" class="Recommendations-arrows-elem prev">
                  <mat-icon>keyboard_arrow_left </mat-icon>
                </button>
                    <button mat-icon-button color="primary" aria-label="arrow_left" class="Recommendations-arrows-elem next">
                  <mat-icon>keyboard_arrow_right </mat-icon>
                </button>
                </div>
            </div>
            <div class="Recommendations-list">
                <a href="#" class="CourseRecommendation" style="border-color: rgb(253, 125, 122);">
                    <div id="totalTirHousersCircle" style="width: 205px; height: 205px; position: relative;" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
                        <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(70, 61, 62);">
                            <div class="col-xs-12 no-padding circles-text text-center">
                                <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                                <div class="col-xs-12 no-padding circles-text-line">
                                    <hr>
                                </div>
                                <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="CourseRecommendation" style="border-color: rgb(0, 182, 212);">
                    <div id="totalTirHousersCircle" style="width: 205px; height: 205px; position: relative;" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
                        <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(70, 61, 62);">
                            <div class="col-xs-12 no-padding circles-text text-center">
                                <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                                <div class="col-xs-12 no-padding circles-text-line">
                                    <hr>
                                </div>
                                <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="CourseRecommendation" style="border-color: rgb(149, 199, 63);">
                    <div id="totalTirHousersCircle" style="width: 205px; height: 205px; position: relative;" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
                        <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(70, 61, 62);">
                            <div class="col-xs-12 no-padding circles-text text-center">
                                <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                                <div class="col-xs-12 no-padding circles-text-line">
                                    <hr>
                                </div>
                                <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="CourseRecommendation" style="border-color: rgb(239, 219, 79);">
                    <div id="totalTirHousersCircle" style="width: 205px; height: 205px; position: relative;" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
                        <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(70, 61, 62);">
                            <div class="col-xs-12 no-padding circles-text text-center">
                                <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                                <div class="col-xs-12 no-padding circles-text-line">
                                    <hr>
                                </div>
                                <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="contenedor" style="display:flex; justify-content:center;margin-top: 1em;">
                <a href="#" style="color: #908d8d;font-size: 20px;"> Ver Estadísticas <img class="lazy" src="https://static.housers.com/assets/images/icons/icon-arrow.svg" style=""></a>
            </div>
        </div>
    </div>
</div>



<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div style="display: flex;">
                <div class="col-md-6">
                    <div class="info-project">
                        <span class="caso-exito">CASO DE ÉXITO</span>
                        <h2 class="title-storie-project"> Marina di Massa
                            <small>Marina di Massa</small>
                        </h2>
                        <p>
                            <strong>Tipo:</strong> Tipo fijo



                            <br>

                        </p>
                    </div>
                    <div class="data-content">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6 percent-storie-data text-right"> 9<span>'00%</span>
                                    </div>
                                    <div class="col-xs-6 text-storie-data text-left">TIR <br><span>estimada</span></div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6 percent-storie-data text-right">
                                        9<span>'00%</span>
                                    </div>
                                    <div class="col-xs-6 text-storie-data text-left">TIR <br><span>entregada</span></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6 percent-storie-data text-right font-orange"> 9<span>'00%</span>
                                    </div>
                                    <div class="col-xs-6 text-storie-data text-left font-orange text-uppercase">Rentabilidad neta <br> acumulada</div>
                                </div>
                            </div>
                        </div>
                        <div class="background-table" id="section-table-1">
                            <svg version="1.1" id="Capa_1" width="510" height="159" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 510 159" style="enable-background:new 0 0 510 159;" xml:space="preserve">
                      <style type="text/css">
                          .exterior { fill: none; stroke-width: 3px; stroke: #000000; }
                          .interior { fill: none; stroke-width: 1px; stroke: #000000; }
                      </style>
                      <rect class="exterior" width="510" height="159" style="opacity: 1; stroke-dashoffset: 1339; stroke-dasharray: 0px, 999999px;"></rect>
                      <rect y="0.5" class="interior" width="255" height="75" style="opacity: 1; stroke-dashoffset: 661; stroke-dasharray: 0px, 999999px;"></rect>
                      <rect y="0.5" class="interior" width="510" height="75" style="opacity: 1; stroke-dashoffset: 1171; stroke-dasharray: 0px, 999999px;"></rect>
                  </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="lazy img-responsive image-storie-large image-storie hidden-xs pull-right" src="https://docs.housers.com/d57e3d6e-4ff9-4539-b02c-f538d4622130/0fe7fbbb-9038-4ca1-96f4-f9886a658cb7/housers-marina-di-massa-seo-portada-g.jpg" style="">

                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div style="display: flex;">
                <div class="col-md-6">
                    <div class="info-project">
                        <span class="caso-exito">CASO DE ÉXITO</span>
                        <h2 class="title-storie-project"> Marina di Massa
                            <small>Marina di Massa</small>
                        </h2>
                        <p>
                            <strong>Tipo:</strong> Tipo fijo



                            <br>

                        </p>
                    </div>
                    <div class="data-content">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6 percent-storie-data text-right"> 9<span>'00%</span>
                                    </div>
                                    <div class="col-xs-6 text-storie-data text-left">TIR <br><span>estimada</span></div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    <div class="col-xs-6 percent-storie-data text-right">
                                        9<span>'00%</span>
                                    </div>
                                    <div class="col-xs-6 text-storie-data text-left">TIR <br><span>entregada</span></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6 percent-storie-data text-right font-orange"> 9<span>'00%</span>
                                    </div>
                                    <div class="col-xs-6 text-storie-data text-left font-orange text-uppercase">Rentabilidad neta <br> acumulada</div>
                                </div>
                            </div>
                        </div>
                        <div class="background-table" id="section-table-1">
                            <svg version="1.1" id="Capa_1" width="510" height="159" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 510 159" style="enable-background:new 0 0 510 159;" xml:space="preserve">
                  <style type="text/css">
                      .exterior { fill: none; stroke-width: 3px; stroke: #000000; }
                      .interior { fill: none; stroke-width: 1px; stroke: #000000; }
                  </style>
                  <rect class="exterior" width="510" height="159" style="opacity: 1; stroke-dashoffset: 1339; stroke-dasharray: 0px, 999999px;"></rect>
                  <rect y="0.5" class="interior" width="255" height="75" style="opacity: 1; stroke-dashoffset: 661; stroke-dasharray: 0px, 999999px;"></rect>
                  <rect y="0.5" class="interior" width="510" height="75" style="opacity: 1; stroke-dashoffset: 1171; stroke-dasharray: 0px, 999999px;"></rect>
              </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="lazy img-responsive image-storie-large image-storie hidden-xs pull-right" src="https://docs.housers.com/d57e3d6e-4ff9-4539-b02c-f538d4622130/0fe7fbbb-9038-4ca1-96f4-f9886a658cb7/housers-marina-di-massa-seo-portada-g.jpg" style="">

                </div>
            </div>
        </div>
    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>

<div class="float-button" style="display: flex; justify-content: center;margin-top: 5%;">
    <button mat-raised-button color="primary">Invierte</button>
</div>

<div style="margin-top: 5%;">
    <div style="display: flex;">
        <div class="col-md-6">
            <div id="smartphone-display" style="height: 720px;">
                <div>
                    <img class="lazy img-responsive ipad" src="https://static.housers.com/assets/images/home/ipad.png" style="
                  position: absolute;
                  z-index: 1;
                  width: 585px;
                  display: block;
                  max-width: 100%;
                  height: auto;
                ">
                    <div class="ipad-content" id="ipad-content" style="
                width: 477px;
                position: absolute;
                height: 639px;
                overflow: hidden;
                ">
                        <img class="lazy img-responsive" src="https://static.housers.com/assets/images/home/ipad_content_es.png" style="transform: matrix(1, 0, 0, 1, 0, 0);" style="
                      width: 100%;
                      margin-top: 22px;
                      display: block;
                      max-width: 100%;
                      height: auto;
                  ">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-10 col-md-offset-2 title-tech">
                    <h2>Tecnología</h2>
                    <p>Invierte en minutos y no en meses</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 content-investment-tech">
                    <div class="background-polygon polygon-triangle"></div>
                    <div class="investment-title">Date de alta ahora</div>
                    <div class="investment-text">Es gratis y sencillo.</div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 content-investment-tech">
                    <div class="background-polygon polygon-triangle"></div>
                    <div class="investment-title ">Invierte de forma fácil y flexible</div>
                    <div class="investment-text">Lo hacemos sencillo para ti, 100% online.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 content-investment-tech">
                    <div class="background-polygon polygon-triangle"></div>
                    <div class="investment-title">Gestiona desde tu área privada</div>
                    <div class="investment-text">Sigue en tiempo real la evolución de tus inversiones.</div>
                </div>
                <div class="col-xs-12  col-sm-6 col-md-5 col-md-offset-1 content-investment-tech">
                    <div class="background-polygon polygon-triangle"></div>
                    <div class="investment-title">Diversifica sin límite</div>
                    <div class="investment-text">Invierte donde quieras, como los grandes inversores.</div>
                </div>
            </div>
            <div class="separador-20"></div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="/es/como-funciona" class="btn btn-housers-orange btn-home-orange text-uppercase">¿Cómo funciona?</a>
                </div>
                <div class="separador-60 visible-xs visible-sm"></div>
            </div>
        </div>
    </div>
</div>


<div style="margin-top: 5%;">
    <div style="display: flex;">
        <div class="col-md-6">
            <h2>Únicos, la primera plataforma pan-europea de inversión inmobiliaria.</h2>
            <p>España, Italia y Portugal a un solo clic. Empieza ya, pon tu dinero a trabajar.</p>
            <div class="float-button" style="display: flex; justify-content: center;margin-top: 5%;">
                <button mat-raised-button color="primary">Invierte</button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="lazy top-buffer-sm img-responsive" src="https://docs.housers.com/e9fdc899-57ce-4b42-af80-c97967c14469/4a140599-6e26-4297-8c05-e5ba61cb211f/static-map-2020-5.png" style="
          width: 100%;
          margin-top: 22px;
          display: block;
          max-width: 100%;
          height: auto;
          ">
        </div>
    </div>
</div>