<div class="container">
    <section class="main">
        <div class="d-flex">
            <div class="col-md-6 main-info">
                <h1 class="main-info__text">
                    Primera plataforma <br> pan-europea de
                    <strong class="orange-color">
                inversión inmobiliaria.
              </strong>
                </h1>
                <div class="main-info__button">
                    <a style="border-bottom: 1px solid #ccc;" class="gray-color fs-16 parrafo" href="# ">Más información</a>
                </div>
            </div>
            <div class="col-md-6 main-img">
                <img style="width: 100%;max-width: 100%;" src="assets/images/bg-property.png" alt="property">
            </div>
        </div>
    </section>


</div>

<div class="container">
    <section class="carrousel-invertions">
        <div class="d-flex flex-wrap">
            <div class="col-xs-12 col-md-4 d-flex justify-content-center align-items-center">
                <p class="subtitle">Diversifica todo lo que quieras <br> desde solo 50€</p>
            </div>
            <div class="carrousel-invertions__swiper col-md-8">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="swiper-slide__item">
                                    <div class="swiper-slide__box">
                                        <div class="div-header d-flex justify-content-between align-items-center swiper-slide__box-item">
                                            <span class="parrafo">Gaming Residence</span>
                                            <img src="https://static.housers.com/img/flags/housers-flag-es.svg" alt="pais">
                                        </div>
                                        <div class="div-img">
                                            <img class="swiper-slide__item--img" src="assets/images/portada.jpg" alt="">
                                        </div>
                                        <div class="div-header d-flex justify-content-between align-items-center swiper-slide__box-item">
                                            <span class="fs-14 parrafo">Préstamo participativo</span>
                                            <div class="rating">
                                                <span class="parrafo">B</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="swiper-slide__item">
                                    <div class="swiper-slide__box">
                                        <div class="div-header d-flex justify-content-between align-items-center swiper-slide__box-item">
                                            <span class="text-white">Puerto de la Torre IV</span>
                                            <img src="https://static.housers.com/img/flags/housers-flag-es.svg" alt="pais">
                                        </div>
                                        <div class="div-img">
                                            <img class="swiper-slide__item--img" src="assets/images/portada.jpg" alt="">
                                        </div>
                                        <div class="div-header d-flex justify-content-between align-items-center swiper-slide__box-item">
                                            <span class="fs-14 parrafo">Préstamo participativo</span>
                                            <div class="rating">
                                                <span>B</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <<a href="#">
                                <div class="swiper-slide__item">
                                    <div class="swiper-slide__box">
                                        <div class="div-header d-flex justify-content-between align-items-center swiper-slide__box-item">
                                            <span class="text-white">Eco World Villa II</span>
                                            <img src="https://static.housers.com/img/flags/housers-flag-es.svg" alt="pais">
                                        </div>
                                        <div class="div-img">
                                            <img class="swiper-slide__item--img" src="assets/images/portada.jpg" alt="">
                                        </div>
                                        <div class="div-header d-flex justify-content-between align-items-center" style="height: 30px;color: white;    padding: 1px .5em;">
                                            <span class="fs-14 parrafo">Préstamo participativo</span>
                                            <div class="rating">
                                                <span>B</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                                <a href="#">
                                    <div class="swiper-slide__item">
                                        <div class="swiper-slide__box">
                                            <div class="div-header d-flex justify-content-between align-items-center swiper-slide__box-item">
                                                <span class="text-white">Gaming Residence</span>
                                                <img src="https://static.housers.com/img/flags/housers-flag-es.svg" alt="pais">
                                            </div>
                                            <div class="div-img">
                                                <img class="swiper-slide__item--img" src="assets/images/portada.jpg" alt="">
                                            </div>
                                            <div class="div-header d-flex justify-content-between align-items-center" style="height: 30px;color: white;    padding: 1px .5em;">
                                                <span class="fs-14 parrafo">Préstamo participativo</span>
                                                <div class="rating">
                                                    <span>B</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>


                </div>
            </div>

            <div class="box-cards">
                <div class="cards-container">
                    <div class="card-item">
                        <mat-card class="mat-card__item d-flex justify-content-center">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" style="background-image: url('https://static.housers.com/img/flags/housers-flag-es.svg');background-size: cover;"></div>
                                <mat-card-title class="mat-card__title">Gaming Residence</mat-card-title>
                                <mat-card-subtitle class="mat-card__subtitle">Madrid</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/images/portada.jpg" alt="Gaming Residence">
                            <mat-card-content>
                                <div class="d-flex justify-content-between w-100">
                                    <span class="fs-14 parrafo">Préstamo participativo</span>
                                    <div class="rating">
                                        <span class="fs-14 parrafo">B</span>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button style="height: 41px;" class="btn btn-primary button-cards">INVERTIR</button>
                            </mat-card-actions>
                        </mat-card>

                    </div>
                    <div class="card-item">
                        <mat-card class="mat-card__item d-flex justify-content-center">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" style="background-image: url('https://static.housers.com/img/flags/housers-flag-es.svg');background-size: cover;"></div>
                                <mat-card-title class="mat-card__title">Puerto de la Torre IV</mat-card-title>
                                <mat-card-subtitle class="mat-card__subtitle">Málaga | 12 viviendas</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/images/portada.jpg" alt="Gaming Residence">
                            <mat-card-content>
                                <div class="d-flex justify-content-between  w-100">
                                    <span class="fs-14 parrafo">Préstamo participativo</span>
                                    <div class="rating">
                                        <span class="fs-14 parrafo">B</span>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button style="height: 41px;" class="btn btn-primary button-cards">INVERTIR</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                    <div class="card-item">
                        <mat-card class="mat-card__item d-flex justify-content-center">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image" style="background-image: url('https://static.housers.com/img/flags/housers-flag-es.svg');background-size: cover;"></div>
                                <mat-card-title class="mat-card__title">Eco World Villa II</mat-card-title>
                                <mat-card-subtitle class="mat-card__subtitle">Marbella | 1 villa</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/images/portada.jpg" alt="Gaming Residence">
                            <mat-card-content>
                                <div class="d-flex justify-content-between w-100">
                                    <span class="fs-14 parrafo">Préstamo participativo</span>
                                    <div class="rating">
                                        <span class="fs-14 parrafo">B</span>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <button style="height: 41px;" class="btn btn-primary button-cards">INVERTIR</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>


<div class="info-empresa">

    <div class="info-empresa__partner">
        <div class="info-empresa__img">
            <div class="container info-empresa__container">
                <a href="#">
                    <div class="info-empresa__item">
                        <img class="info-empresa__item-img" height="70" src="assets/images/logo-sfc.png" alt="logo-sfc">
                    </div>
                </a>
                <a href="#">
                    <div class="info-empresa__item">
                        <img class="info-empresa__item-img" height="70" src="assets/images/logo-adigital-negativo.png" alt="logo-sfc">
                    </div>
                </a>
                <a href="#">
                    <div class="info-empresa__item">
                        <img class="info-empresa__item-img" height="70" src="assets/images/ecomerce-europe.png" alt="logo-sfc">
                    </div>
                </a>
                <a href="#">
                    <div class="info-empresa__item">
                        <img class="info-empresa__item-img" height="70" src="assets/images/logo-shes.png" alt="logo-sfc">
                    </div>
                </a>

            </div>
        </div>

        <div class="container info-empresa__info" style="margin: auto;">
            <p class="info-empresa__text">Somos una plataforma de financiación participativa autorizada por la CNMV <br> mediante licencia número 20 y la CMVM (organismo regulador portugués), <br> con 120.172 usuarios y una inversión acumulada de <strong>113.801.600€</strong>.</p>

            <div class="float-button">
                <button class="btn btn-primary">Invierte</button>
            </div>
        </div>

    </div>


</div>

<div class="BaseCard">
    <div class="Recommendations">
        <div class="container">
            <div class="Recommendations-head">
                <p class="Recommendations-title">Por qué elegirnos</p>
                <div class="Recommendations-arrows">
                    <button mat-icon-button color="primary" aria-label="arrow_left" class="Recommendations-arrows-elem prev">
                  <mat-icon>keyboard_arrow_left </mat-icon>
                </button>
                    <button mat-icon-button color="primary" aria-label="arrow_left" class="Recommendations-arrows-elem next">
                  <mat-icon>keyboard_arrow_right </mat-icon>
                </button>
                </div>
            </div>
            <div class="Recommendations-list">
                <a href="#" class="CourseRecommendation" style="border-color: #F34A2D">
                    <div id="totalTirHousersCircle" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
                        <div class="progressbar-text">
                            <div class="col-xs-12 no-padding circles-text text-center">
                                <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                                <div class="col-xs-12 no-padding circles-text-line">
                                    <hr>
                                </div>
                                <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="CourseRecommendation" style="border-color:#124C8D">
                    <div id="totalTirHousersCircle" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
                        <div class="progressbar-text">
                            <div class="col-xs-12 no-padding circles-text text-center">
                                <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                                <div class="col-xs-12 no-padding circles-text-line">
                                    <hr>
                                </div>
                                <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="CourseRecommendation" style="border-color: #2AB672">
                    <div id="totalTirHousersCircle" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
                        <div class="progressbar-text">
                            <div class="col-xs-12 no-padding circles-text text-center">
                                <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                                <div class="col-xs-12 no-padding circles-text-line">
                                    <hr>
                                </div>
                                <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="CourseRecommendation" style="border-color: #282929">
                    <div id="totalTirHousersCircle" class="center-block new-circle-bar started"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="1" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="rgb(145,204,201)" stroke-width="2" fill="#FFFFFF" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 0;"></path></svg>
                        <div class="progressbar-text">
                            <div class="col-xs-12 no-padding circles-text text-center">
                                <div class="col-xs-12 no-padding circles-text-title">8,83 %</div>
                                <div class="col-xs-12 no-padding circles-text-line">
                                    <hr>
                                </div>
                                <div class="col-xs-12 no-padding circles-text-desc">TIR Media Plataforma</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="contenedor" style="display:flex; justify-content:center;margin-top: 1em;">
                <a href="#" class="parrafo" style="color: #908d8d;font-size: 20px;"> Ver Estadísticas <img class="lazy" src="https://static.housers.com/assets/images/icons/icon-arrow.svg" style=""></a>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top:5%">
    <div class="row" style="margin:0 5px">
        <div class="col-xs-12 col-md-6 d-flex align-items-center">
            <div class="d-flex flex-column">
                <span class="hidden-xs" style="border-bottom:1px solid #2AB672;">CASOS DE ÉXITO</span>
                <span class="title">Tenemos casos de éxito que te inspirarán</span>
                <p class="parrafo-lg">A lo largo de los años, las personas han confiado en nosotros por la agilidad, la pulcritud y la confianza que prometemos y entregamos.</p>
                <button class="btn btn-primary btn-md hidden-xs">Invierte</button>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-12 col-md-6 d-flex align-items-center">
                    <mat-card class="mat-card__item d-flex justify-content-center">

                        <img mat-card-image src="https://docs.housers.com/5c595e52-054b-4a3e-8ebf-5097a6653fc2/2a76e6b6-bd9a-4542-a57d-76f5303ec8af/housers-imagen-soley-playa-g.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="mat-card-content__title ">COZZI MILAN</h4>
                                <small class="fs-12">Tipo: Ahorro</small>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="tir">TIR Estimada</span>
                                <small class="percent-tir">4.04 %</small>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="tir">TIR Entregada</span>
                                <small class="percent-tir">4.32 %</small>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div style="background: #EFEFEF;" class="d-flex align-items-center flex-column">
                                <small class="percent-rent">4.32 %</small>
                                <span class="rent">RENTABILIDAD NETA ACUMULADA</span>
                            </div>
                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="d-flex flex-column" style="margin-top:.5em">
                        <mat-card class="mat-card__item d-flex justify-content-center">

                            <img mat-card-image src="https://docs.housers.com/d57e3d6e-4ff9-4539-b02c-f538d4622130/f5a6974d-7288-4bfc-996c-511872ef2d35/housers-massa-carrara-p.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="d-flex align-items-center justify-content-between">
                                    <h4 class="mat-card-content__title">MARINA DI MASSA</h4>
                                    <small class="fs-12">Tipo: Fijo</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="tir">TIR Estimada</span>
                                    <small class="percent-tir">4.04 %</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="tir">TIR Entregada</span>
                                    <small class="percent-tir">4.32 %</small>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div style="background: #EFEFEF;" class="d-flex align-items-center flex-column">
                                    <small class="percent-rent">4.32 %</small>
                                    <span class="rent">RENTABILIDAD NETA ACUMULADA</span>
                                </div>
                            </mat-card-actions>
                        </mat-card>

                        <mat-card class="mat-card__item d-flex justify-content-center" style="margin-top:2%">

                            <img mat-card-image src="https://docs.housers.com/5c889b71-a475-4e82-b73a-84569967cb31/c2813a4b-dada-413e-9ad9-27b2b43ab8c7/housers-zabaleta-1-g.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <div class="d-flex align-items-center justify-content-between">
                                    <h4 class="mat-card-content__title ">Plaza de Sants</h4>
                                    <small class="fs-12">Tipo: Fijo</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="tir">TIR Estimada</span>
                                    <small class="percent-tir">4.04 %</small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="tir">TIR Entregada</span>
                                    <small class="percent-tir">4.32 %</small>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div style="background: #EFEFEF;" class="d-flex align-items-center flex-column">
                                    <small class="percent-rent">4.32 %</small>
                                    <span class="rent">RENTABILIDAD NETA ACUMULADA</span>
                                </div>
                            </mat-card-actions>
                        </mat-card>

                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-2 hidden-lg">
                <button class="btn btn-primary btn-md">Invierte</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2" style="margin-bottom: 5em;">
    <div class="d-flex justify-content-center">
        <span class="title">Es sencillo</span>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="card-easy" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <div class="card-easy__img">
                    <img style="max-width: 100%;" src="assets/images/registro.png" alt="registro">
                </div>
                <div class="card-easy__content" style="text-align: center;">
                    <h4 class="parrafo-lg">Regístrate</h4>
                    <p class="parrafo">Es gratis y sencillo.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="card-easy" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <div class="card-easy__img">
                    <img style="max-width: 100%;" src="assets/images/inversion.png" alt="registro">
                </div>
                <div class="card-easy__content" style="text-align: center;">
                    <h4 class="parrafo-lg">Invierte</h4>
                    <p class="parrafo">Lo hacemos sencillo para ti, 100% online.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="card-easy" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <div class="card-easy__img">
                    <img style="max-width: 100%;" src="assets/images/gestionar.png" alt="registro">
                </div>
                <div class="card-easy__content" style="text-align: center;">
                    <h4 class="parrafo-lg">Administra</h4>
                    <p class="parrafo">Sigue en tiempo real La evolución de tus Inversiones.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="card-easy" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <div class="card-easy__img">
                    <img style="max-width: 100%;" src="assets/images/divercifica.png" alt="registro">
                </div>
                <div class="card-easy__content" style="text-align: center;">
                    <h4 class="parrafo-lg">Diversifica</h4>
                    <p class="parrafo">Invierte donde quieras, como los grandes inversores.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-2">
        <a style="border-bottom: 1px solid #ccc;" class="gray-color fs-16 parrafo" href="# ">Cómo funciona</a>
    </div>
</div>

<div class="container" style="margin:auto">
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <h4 class="title">
                Únicos, la primera plataforma pan-europea de inversión inmobiliaria.
            </h4>
            <p class="parrafo-lg">
                España, Italia y Portugal a un solo clic. Empieza ya, pon tu dinero a trabajar.
            </p>
            <div class="d-flex button-map">

                <button class="btn btn-primary" style="height: 41px; margin-bottom: 2%;">Invierte</button>
            </div>
        </div>
        <div class="col-xs-12 col-md-7">
            <img style="max-width: 100%;" src="https://docs.housers.com/e9fdc899-57ce-4b42-af80-c97967c14469/4a140599-6e26-4297-8c05-e5ba61cb211f/static-map-2020-5.png" alt="">
        </div>
    </div>
</div>